a {
  font-family: "avenir next";
  color: blue;
}
.link {
  float: left;
  list-style: none;
  margin: 50;
  height: 100%;
  width: 240%;
  background-color: powderblue;
}
.footer{
  margin: auto;
}

body {
  font-family: "arial";
}

h1 {
  font-family: "avenir next";
  font-weight: bold;
}

.talk {
  color: #202020;
}
