a {
  font-family: "avenir next";
  color: blue;
}
.back-header {
  margin-top: 34px;
}

.back-header > li {
  float: left;
  margin-left: 25px;
  color: #202020;
  background-color: powderblue;
}

.footer{
  margin: auto;
}

body {
  font-family: arial;
}

h1 {
  font-family: avenir next;
  font-weight: bold;
}

.talk {
  color: #202020;
}
